{{#extend 'stylesheets'}}

{{/extend}}


<div class="">

    <div class="row">

        <div class="col-md-55">
            <div class="thumbnail">
                <div class="image view view-first">
                    <img style="width: 100px; hight: 200px; display: block;" src="/files/{{file.file}}" alt="image">
                </div>
            </div>

            {{!-- <div class="image view view-first">
                <video width="320" height="240" controls>
                    <source src="/files/{{file.file}}" type="video/mp4">
                </video>
            </div> --}}
        </div>
    </div>
</div>

{{#extend 'scripts'}}

{{/extend}}