{{#extend 'stylesheets'}}

{{/extend}}


<div class="">

    <div class="row">

        <video width="320" height="240" controls>
            <source src="/files/{{file.file}}" type="video/mp4">
        </video>
    </div>
</div>

{{#extend 'scripts'}}

{{/extend}}